// 通过检查，查看元素样式声明

// 黑色主题下, 强调的文字更清晰
.dark .content__default code {
    background-color: rgba(58,58,92,0.7);
    color: #fff;
}
// 黑色主题下, 图片放大背景黑色
.dark .medium-zoom-overlay {
    background: #212121 !important
}

// 黑色背景
html.dark {
    --background-color: #212121 !important
}

// 隐藏默认标题
.page .page-title {
   display: none;
}

// fulltext-search搜索结果样式
.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: #646cff
  font-weight: bold
}

